root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

[*.{go,go.tmpl}]
indent_style = tab

[*.{json,json.tmpl,yml,yaml,yaml.tmpl,yml.tmpl,sh}]
indent_size = 2

# These often end up with go code inside, so lets keep tabs
[*.{html,md}]
indent_size = 2
indent_style = tab
